* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root,
#root > div,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: unset;
}

.navbar {
  background: #5133a4;
  min-height: 50px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
  z-index: 99;
  white-space: nowrap;
}

.navbar li {
  display: inline-block;
  width: 33.3%;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}

.header {
  background-image: url(https://wallpapers.com/images/featured/marvel-pictures-a8zq5u8qw3ega7cx.jpg);
  color: #fff;
  min-height: 530px;
  padding: 240px 20px 150px;
}

.header h1 {
  font-size: 3rem;
  background-color: #5133a5cc;
  display: inline-block;
  padding: 1rem 2rem;
}

.App {
  text-align: center;
}

.images {
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 1400px;
}

.images img {
  cursor: pointer;
  height: 170px;
  width: 170px;
  margin: 1rem;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.alert {
  display: contents;
}

.attribution{
  font-size: 12px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
  color: rgb(255, 70, 70);
}

.alert {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}